<h1>List of Pictures</h1>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <img src="<%= picture.source %>" width="240">
      <p><%= picture.caption %></p>
      <p>
        <a href="http://localhost:3000/pictures/<%= picture.id %>">Show</a>
        <a href="http://localhost:3000/pictures/<%= picture.id %>/edit">Edit</a>
      </p>
    </li>
  <% end %>
</ul>
